p {

/*content - width and height*/

width: 50%;
height: 300px;
/*border*/

border: 2px solid blue;
border-top: 2px;

/*padding*/

padding: 10px;
padding-left: 40px;

/*margin*/
margin: 20px 40px 500px 100px;
margin: 0 auto 0 auto;
}