<h1>this is the secret page</h1>

<img src="https://images.unsplash.com/photo-1486915309851-b0cc1f8a0084?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">

<li><a href="/register">Sign up</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>