<% include("partials/header") %>
<h1>you fell in love with: <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>good choice! rusty is the best!</p>
<% } else { %>
    <p>bad choice, you should choose rusty</p>
<% } %>
<p>P.S. this is the love.ejs file!</p>
<% include("partials/footer") %>